body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: "Montserrat", sans-serif;
  overflow: hidden; /* to remove scroll bar  . check it on MDN */
}
.main {
  display: flex;
  padding: 0.5rem; /* padding around main container */
  height: 100vh; /* full viewport height */
}
.sidebar {
  background: color #000; /* use colorpicker to get exact color */
  width: 340px;
  border-radius: 1rem; /* 1rem=16px */
  margin-right: 0.5rem;
}
.main-content {
  background-color: #121212;
  flex: 1; /* take remaining space */
  border-radius: 1rem; /* 1rem=16px */
  overflow: auto; /* enable scrolling if content overflows */
  padding: 0 1.5rem 0 1.5rem; /* padding: top right bottom left */
}
.media-player {
  background-color: black;
  position: fixed; /* fix to bottom */
  bottom: 0; /* stick to bottom */
  width: 100vw; /* full viewport width */
  height: 72px; /* height of media player */
  left: 0; /* align to left edge */
}
a {
  text-decoration: none;
  color: white;
}
.nav {
  background-color: #121212;
  border-radius: 1rem;
  display: flex; /* flexbox for horizontal layout */
  flex-direction: column; /* vertical stacking */
  padding: 0.5rem 0.75rem; /* padding inside nav */
  justify-content: center; /* center items vertically */
  height: 100px;
}
.nav-option {
  line-height: 2.5rem;
  opacity: 0.7;
  padding: 0.5rem 0.75rem;
}
.nav-option:hover {
  opacity: 1;
}
.nav-option i {
  font-size: 1.25rem;
}
.nav-option a {
  font-size: 1rem;
  margin-left: 1rem;
}
.library {
  border-radius: 1rem;
  background-color: #121212;
  height: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem 0.75rem;
}
.options {
  display: flex;
  justify-content: space-between; /* space between options */
  align-items: center; /* center vertically */
}
.lib-option img {
  height: 1.25rem;
  width: 1.25rem;
}
.icons {
  font-size: 1.25rem;
  opacity: 0.7;
  margin: 1rem;
  display: flex;
}
.icons i {
  opacity: 0.7;
  margin: 1rem;
}
.icons i:hover {
  opacity: 1;
}
.boxes {
  height: 8rem;
  background-color: #232323;
  border-radius: 0.75rem;
  margin: 0.75rem 0 1.75rem 0; /* top and bottom margin */
  padding: 0.75rem 1.25rem; /* padding left and right */
}
.box-p1 {
  font-size: 1rem;
  font-weight: 500;
}
.box-p2 {
  font-size: 0.75rem;
  opacity: 0.9;
}
.badge {
  background-color: #fff;
  border: none;
  border-radius: 100px;
  padding: 0.25rem 1rem;
  font-weight: 700;
  margin-top: 0.5rem;
  height: 2rem;
  width: fit-content; /* width fits content */
}
.dark-badge {
  background-color: #000;
  color: #fff;
}
.sticky-nav {
  position: sticky; /* stick to top */
  top: 0; /* stick to top of the container */
  background-color: #121212; /* background color */
  display: flex;
  justify-content: space-between; /* space between items */
  align-items: center; /* center items vertically */
  padding: 1rem 0 1rem 0; /* padding top and bottom */
  z-index: 10; /* ensure it stays above other content */
}
.sticky-nav-icons {
  margin: 0.75rem;
}
.sticky-nav-options {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sticky-nav-options button {
  margin-right: 1rem;
}
.nav-item {
  margin-right: 1rem;
}
@media (max-width: 1000px) {
  .hide {
    display: none; /* hide elements on smaller screens .media query is used for responsiveness */
  }
}
.card {
  background-color: #232323;
  width: 150px;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-left: 1.5rem;
  margin-top: 1rem;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
}
.card-img {
  width: 100%;
  border-radius: 0.5rem;
}
.card-title {
  font-weight: 600;
}
.card-info {
  font-size: 0.85rem;
  opacity: 0.5;
}
.footer {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line {
  width: 90%;
  height: 50%;
  border-top: 1px solid white;
  opacity: 0.4;
}
.media-player {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.album {
  width: 25%;
}

.player {
  width: 50%;
}
.control {
  width: 25%;
}
.player-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
.player-control-icon {
  height: 1rem;
  margin-right: 1.75rem;
  opacity: 0.7;
}
.player-control-icon:hover {
  opacity: 1;
}
.progress-bar {
  width: 70%;
  appearance: none; /* remove default styling */
  background-color: transparent;
  cursor: pointer; /* show pointer on hover */
}
.progress-bar::-webkit-slider-runnable-track {
  height: 0.2rem;
  background-color: #ddd;
  border-radius: 100px;
}
.progress-bar::-webkit-slider-thumb {
  appearance: none;
  height: 1rem; /* rem is relative to root font size */
  width: 1rem;
  background-color: #1bd760;
  border-radius: 50%;
  margin-top: -6px; /* center the thumb */
}
